/*General*/

html, body {
  height: 100%;
  margin: 0;
  padding: 0 2%;
  font-family: 'Roboto', serif;
  color: rgb(100, 77, 131);
}


/*intro and title*/

.intro{
  max-width: 600px;
  text-align: center;
  margin: 0 auto 30px;
}


h1{
  text-align: center;
}


/*containers for questions and map*/

.container{
  margin: 0 auto;
}

.choices{
  float: left;
  padding: 0 30px 0 0;
  max-width: 400px;
}

#map-canvas {
  height: 400px;
  min-width: 400px;
  margin: 5px;
  padding: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}


/* Questions */

.map-input {
  border: 1px solid transparent;
  box-sizing: border-box;
  height: 32px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
  display: block;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#target {
  width: 345px;
}

.question{
  margin-top: 45px;
}

#waypoint{
  margin-bottom: 30px;
}

#transport-dropdown{
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(50,50,50,0.1);
  cursor: pointer;
  color: rgb(113, 113, 113);
  width: 180px;
}


/*Directions */

h2{
  visibility: hidden;
}
